*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Century Gothic;
    background-color: #dce1f8;
    line-height: 1.8;
}

#container {
    max-width: 450px;
    margin: 30px auto;
    padding: 20px;
}

.form-wrap {
    background: #ffffff;
    padding: 25px 45px;
    color:black;
    border-top: 4px solid #09f3d4;
    border-radius: 0.5px;
}

.form-wrap h1 {
    text-align: center;
}

.form-wrap, form-group {
    margin-top: 12px;
}

.form-wrap,form-group label {
    display: block;
    color: #181a19;
}

input {
    width: 100%;
    padding: 10px;
    border:#020b35 1px solid;
    border-radius: 5px;
}

.form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #149c8a;
    color: white;
    cursor: pointer;
    border: 1px solid #04bda4;
    font-family: Century Gothic;
    font-size: 15px;
    transition: 1s;
}

.form-wrap button:hover{
    background-color:#077e6e;
    transition: 1s;
}
 
.form-group p {
    font-size: 13px;
}